<div class="all-baskets">
  <% if user_signed_in? && current_user.restaurant? %>
    <div class="container">
      <br>
      <% if @baskets.size == 0 %>
        <h1 class="text-center"> You dont have any published baskets yet!</h1>
        <div class="container text-center">
          <%= link_to new_basket_url() do  %>
            <button class="btn-sign mb-1 mt-3 rounded-3 text-center" id='add-basket-button'>Add a basket!</button>
          <% end %>
        </div>

      <% else %>
      <div class="container text-center">
        <%= link_to new_basket_path do  %>
            <button class="btn-sign mb-1 mt-3 rounded-3" id='add-basket-button'>Adicione um imóvel</button>
          <% end %>
          <h1 class="text-center"> Veja seus imóveis</h1>
      </div>

      <% end %>
    </div>
  <% end %>

  <% basket_array = %w[
https://images.unsplash.com/photo-1518780664697-55e3ad937233?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80

https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80

https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80

https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80

https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1578&q=80

]%>

  <%= render @baskets %>
</div>
