<div class="home">
  <div class="banner">
  </div>
  <div class="container">
    <div class="banner-text">
      <p>
        <span class= "text-center" id="banner-typed-text"></span>
      </p>
    </div>
  </div>
   <h2 class="text-center">Como funciona</h2>
  <div class="card-form">
    <div class="container-home">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <%= image_tag("procurar.png") %>
            <h3>Busca de casa ou imóvel comercial</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p></p>
            <a href="#">Cadastro</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <%= image_tag("casa.png") %>
            <h3>Selecione a filtragem</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">

            <a href="#">Aguarde nosso time entrar em contato</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <%= image_tag("chave.png") %>
            <h3>Imóvel alugado/comprado!</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <a href="#">Pegue suas chaves</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container btn-home">
  <%= link_to new_user_session_path,class: 'navbar__item', :action => 'go' do %>
    <button>Comece!</button>
  <% end%>
</div>

    <!--  footer -->
    <div class="tooltips">
      <div class="main center">
        <div class="box center">
          <a href="#" data-text='Facebook'>
            <i class='fab fa-facebook-f fa-2x'></i>
          </a>
          <a href="#" data-text='Github'>
            <i class='fab fa-github fa-2x'></i>
          </a>
          <a href="#" data-text='Twitter'>
            <i class='fab fa-twitter fa-2x'></i>
          </a>
          <a href="#" data-text='Instagram'>
            <i class='fab fa-instagram fa-2x'></i>
          </a>
        </div>
      </div>
    </div>
</div>
